html {
    box-sizing: border-box;
    background-color: #ddd;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    max-width: 1200px;
    min-height: 100vh;
    padding: 1rem;
    background-color: #fff;
    margin: auto;
    font-family: sans-serif;
}

/* ------------------------------ */