:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem #0080ff80;
}

body {
    font-family: sans-serif;
}

label {
    display: block;
    margin-bottom: 0.35rem;
}

textarea,
select,
button,
input {
    padding: 0.35rem;
    border: 1px solid silver;
    border-radius: 0.15rem;
    margin-bottom: 1.5rem;
}

.invalid-email {
    display: none;
    color: crimson;
}

input:invalid + .invalid-email {
    display: inline;
}

button {
    display: block;
    background-color: cornflowerblue;
    border-color: #4f67ec;
    color: #fff;
    font-weight: 700;
}
